body{
    background-color: rgb(221, 247, 228);
    color: #ffffff;
}
.top{
    visibility: hidden;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    font-family: sans-serif;
   color: green;
   cursor: pointer;
}
#video{
    height: 600px; 
    width: 800px; 
    margin-left: 200px;
    z-index: 1;
    transition:transform 3s ease-in-out;
}
.myVideo{
    transition:transform 3s ease-in-out;
    transform: translateY(-150%);
}
button{
    position: fixed;
    margin-top: -10px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    height: 30px;
}
#song{
    color: white;
    background-color: blue;
    position: fixed;
    height: 80px;
    border-radius: 50%;
  margin-left: 500px; 
  margin-right: 100px;
   /* margin-top: 100px; */
    z-index: 2;
}
.righ{
    transform: translatex(-150%); 
    transition:transform 3s ease-in-out;
    background-color: rgba(39, 242, 239, 0.4); 
  
}
.down{
    transform: translatey(-150%); 
    transition:transform 3s ease-in-out; 
    background-color: rgba(128, 128, 128,0.4);  
}
.up{
    height: 100%;
    margin-top: 10px;
    width: 100%;
    position: fixed; 
    background-color: rgba(209, 181, 54, 0.4);
    transition:transform 3s ease-in-out;
}

.right{
    height: 100%;
    margin-top: 20px;
    width: 100%;
    position: fixed; 
    background-color: rgba(55, 214, 95, 0.4);
    transition:transform 3s ease-in-out;

}
.footer{
    border-radius: 10%;
    border: 2px solid blue;
    padding-left: 150px;
    background-color: black;
    margin-top: 40px;
    height: 300px;
}